html, body, .container {
   height: 100%;
   margin: 0;
   padding: 0;
}

body {
   font-family: sans-serif;
   background-color: #eeeeee;
}

.container {
   padding-top: 30px;
   padding-left: 20px;
   padding-right: 20px;
}

header {
   padding: 20px;
   padding-top: 0px;
   color: purple;
}

#highscores {

}

#timer {

}

.main {

}

.welcome {

}

#startQuiz {

}